.perfil-container > img {
    width: 300px;
    height: 300px;
}

.perfil-container {
    display: flex;
    justify-content: space-around; /* Separa os itens horizontalmente */
    margin-top: 30px;
    width: 100%;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
}

.perfil-dados {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui os elementos */
    flex-grow: 1;
    padding-left: 20px;
}

.perfil-textos > h1 {
    font-family: poppins-bold;
    font-size: 32px;
    font-weight: bold;
    color: #049DD9;
}

.perfil-textos > h2 {
    font-family: raleway-bold;
    font-size: 24px;
    font-weight: bold;
    color: #202020;
}

.perfil-informacoes {
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.perfil-informacoes > span {
    font-family: roboto-medium;
    font-size: 12px;
    font-weight: 500;
    color: #202020;
}

.perfil-datas {
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.perfil-datas > span {
    font-family: roboto-medium;
    font-size: 12px;
    font-weight: 500;
    color: #6B6B70;
}


.perfil-textos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.perfil-botoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto; /* Empurra para baixo */
}

.perfil-botoes-alterar {
    display: flex;
    gap: 10px;
    width: 100%;
}

.perfil-botoes-alterar > button{
    width: 100%;
}

.botao-desativar-conta {
    background-color: #EA3838;
    border-color: #EA3838;
    border-width: 2px;
    font-family: raleway-regular;
}

.botao-desativar-conta:hover {
    background-color: transparent;
    border-color: #EA3838;
    border-width: 2px;
    color: #EA3838;
    font-family: raleway-regular;
}

.perfil-botoes-alterar > button {
    background-color: #049DD9;
    border-color: #049DD9;
    border-width: 2px;
    font-family: raleway-regular;
}


.perfil-botoes-alterar > button:hover {
    background-color: transparent;
    border-color: #049DD9;
    border-width: 2px;
    color: #049DD9;
    font-family: raleway-regular;
}

.perfil