.busca-container > input {
    width: 100%;
    padding: 0.5vh;
    padding-left: 1vh;
    border-radius: 10px;
    border-width: 1px;
    font-family: roboto-medium;
    font-size: 12px;
    font-weight: 500;
    color: #202020;
}