.anotacoes-cartao {
    display: flex;
    margin: 2% 0% 2% 0%;
}

.a-c-filtragem {
    display: flex;
    flex-direction: column;
    width: 20%;
    font-family: roboto-medium;
    font-size: 12px;
    font-weight: 500;
    color: #202020;
}

.filtragem {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10%;
    background-color: #f5f5fa;
    border: 1px solid #f5f5fa;
    border-radius: 10px;
    border-color: #f5f5fa;
    box-shadow: 0.7vh 0.7vh 0.7vh #d5d5de;
}

.opcoes-select > option {
    font-family: roboto-medium;
    font-size: 12px;
    font-weight: 500;
    color: #202020;
}

.opcoes-checkbox {
    display: flex;
    width: 100%;
    gap: 5%;
}

.opcoes-select {
    padding: 1%;
    font-size: 12px;
}


.opcoes-botao {
    background-color: #049DD9;
    border-color: #049DD9;
    border-width: 2px;
    margin-top: 5%;
}

.opcoes-botao:hover {
    background-color: transparent;
    color: #049DD9;
    border-color: #049DD9;
    border-width: 2px;
}

.a-c-listagem {
    margin-left: 1%;
}