.yRemoteSelection {
  opacity: 0.5;
  background-color: var(--user-color);
  margin-right: -1px;
}

.yRemoteSelectionHead {
  position: absolute;
  border-left: var(--user-color) solid 2px;
  border-top: var(--user-color) solid 2px;
  border-bottom: var(--user-color) solid 2px;
  height: 100%;
  box-sizing: border-box;
}

.yRemoteSelectionHead::after {
  position: absolute;
  content: attr(data-name);
  top: -22px;
  left: -2px;
  background-color: var(--user-color);
  color: #fff;
  padding: 2px 6px;
  font-size: 10px;
  border-radius: 4px;
  white-space: nowrap;
  pointer-events: none;
  font-family: sans-serif;
  font-weight: bold;
  z-index: 10;
}