.buttons-options {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 5px !important;
}

.buttons-options > button {
    width: 7%;
    height: 10%;
    border-width: 0;
    background-color: white;
    cursor: pointer;
}

.buttons-options > button > img {
    width: 40%;
}

@media (max-width: 600px) {
    .buttons-options > button {
    width: 30%;
    height: 10%;
}
}