@font-face {
    font-family: 'raleway-regular';
    src: url(../fonts/raleway/Raleway-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'roboto-regular';
    src: url(../fonts/roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'poppins-bold';
    src: url(../fonts/poppins/Poppins-Bold.ttf) format('truetype');
}


html, body, #root {
    height: 100%;
  }

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 11px !important;
    color: #FFF !important;
    font-weight: 500;
}

h2 {
    color: #FFF !important;
}