.setor {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5fa;
    border-radius: 10px;
    padding: 1.5%;
    box-shadow: 0.7vh 0.7vh 0.7vh #d5d5de;
    width: 100%;
    vertical-align: center;
}

.setor-container > img {
    width: 40%;
    height: 80%;    
}

.setor-container {
    display: flex;
    height: 0%;
}

.setor-informacoes {
    box-sizing: border-box;
    margin-left: 5%;
}

.setor-informacoes > h1 {
    font-family: poppins-bold;
    font-size: 32px;
    font-weight: bold;
    color: #049DD9;
}

.setor-lider > img {
    width: 13%;
}

.setor-lider > span {
    font-family: roboto-medium;
    font-size: 12px;
    font-weight: 500;
    color: #202020;
    margin-left: 5%;
}

.setor-metadados {
    display: flex;
    flex-direction: column;
    font-family: roboto-medium;
    font-size: 12px;
    font-weight: 500;
    color: #202020;
    margin-top: 5%;
}

.setor-chave {
    display: flex;
    flex-direction: column;
}

.setor-chave > span {
    font-family: roboto-medium;
    font-size: 12px;
    font-weight: 500;
    color: #202020;
    margin-bottom: 5%;
}

.setor-chave > button {
    background-color: #049DD9;
    border-color: #049DD9;
    border-width: 2px;
    font-family: raleway-regular;
}

.setor-chave > button:hover {
    background-color: transparent;
    border-color: #049DD9;
    border-width: 2px;
    color: #049DD9;
    font-family: raleway-regular;
}